.select_theme .card, .select_advanced_theme .card, .select_advanced_theme img.back_card {
    height: 144px;
    width: 109px;
    display: inline;
}
#beta_text {
    display: block;
    height: 48px;
    opacity: 0.8;
    position: fixed;
    right: 10px;
    top: 36px;
    width: 48px;
    -moz-border-radius: 25px 25px 25px 25px;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 5px #000;
}
#beta_text:hover {
    opacity: 1;
}

.lbx_win {
    width: 500px;
    height: 430px;
    background-color: #D7E4EA;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    box-shadow: 0px 0px 25px #000;
    -webkit-box-shadow: 0px 0px 25px #000;
    -moz-box-shadow: 0px 0px 25px #000;
}
.lbx_win table {
    background-color: #DDDDDD;
    border: 1px solid #CCCCCC;
    margin: auto;
    width: 440px;
    padding: 9px 18px 9px 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.lbx_win td {
    font-size: 21px;
    color: #222222;
    padding: 3px 0;
}
.lbx_win .win_buttons {
    width: 100%;
    text-align: center;
}
.lbx_win input {
    margin: 4px 15px 15px;
    padding-bottom: 15px;
    padding-top: 15px;
    display: inline;
    float: none;
}
.lbx_win input.new_game {
    margin-left: 0px;
}
.select_theme {
    height: 120px;
}
.select_theme div.label_bg {
    font-size: 19px;
    height: 23px;
    opacity: 0.5;
    padding-left: 15px;
    padding-top: 0;
    top: -47px;
}


._css-loader {
    height: 3px;
}