<header>
    <ul style="float: left">
        <li id="menu-date" class="icon-date" title="Show by Date"><div class="icon"></div></li>
        <li id="menu-folders" class="icon-folders" title="Show by Folder"><div class="icon"></div></li>
        <!--<li id="menu-priority" class="icon-priority" title="Show by Priority"><div class="icon"></div></li>-->
    </ul>
    <ul style="float: right">
        <li id="menu-done" class="icon-settings-clear" title="Clear Completed Tasks"><div class="icon"></div></li>
        <li id="menu-user" class="icon-settings" title="User Options"><div class="icon"></div></li>
		<li id="menu-pop-out" class="icon-pop-out" title="Pop Out"><div class="icon"></div></li>
    </ul>
</header>

<div class="task-box">
    <div class="task-box-input">
        <a href="#"><img src="/images/plus_icon.png"/></a>
        <form class="add-item"></form>
    </div>
</div>
<div class="tasks-wrapper">
	<div class="tasks">
	</div>
	<input class="new-folder-input" maxlength="100" type="text" placeholder="New folder..."/>
</div>
