/* Icons & Messages */
a.icon, span.icon {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-image: url(../images/icons.gif);
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
}

.icon.accept { background-position: 0px -250px; }
.icon.block { background-position: 0px -275px; }

/* Ajax Loader */
span.loader {
	background: transparent url(../images/loader.gif) center center no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

/* Messages */
div.message {
	border-radius: 8px;
	box-shadow: 2px 2px 1px #BDBDBD;
	font-weight: bold;
	font-size: 1.5em;
	padding: 0.75em;
	text-align: center;
	width: auto;
	position: absolute;
	top: 20%;
}

div.message.error {
	background-color: #ED1B24;
	color: #FFFFFF;
}

div.message.success {
	background-color: #1FA038;
	color: #FFFFFF;
}

/* 偏好设置页 */
.options h1 {
	font-size: 150%;
	padding: 0 0 5px 50px;
	margin-bottom: 10px;
	background: transparent url(../images/icon.48.png) left top no-repeat;
	border-bottom: 5px solid #9cc2ef;
	line-height: 48px;
}
