body {
	font-family: "Microsoft Yahei", "Georgia", Sans-Serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 1.8em;
}

/* Icons & Messages */
a.icon, span.icon {
	display: inline-block;
	vertical-align: middle;
	width: 25px;
	height: 25px;
	background-repeat: no-repeat;
	background-position: left top;
	background-color: transparent;
	background-image: url(../images/icons.gif);
	overflow: hidden;
	text-decoration: none;
	cursor: pointer;
}

.icon.accept { background-position: 0px -250px; }
.icon.block { background-position: 0px -275px; }

/* Ajax Loader */
span.loader {
	background: transparent url(../images/loader.gif) center center no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.navbar .pull-right {
	line-height: 40px;
}

.navbar .pull-right a {
	color: #FFFFFF;
	text-decoration: none;
}

#container {
	margin-top: 5em;
}

footer {
	margin-top: 2em;
	padding: 1em 0;
	border-top: 1px solid #dedede;
	color: #555555;
}
