body {
	font-family: "Microsoft Yahei", "Georgia", Sans-Serif;
}

/* Ajax Loader */
span.loader {
	background: transparent url(../images/loader.gif) center center no-repeat;
	display: inline-block;
	width: 16px;
	height: 16px;
}

.navbar .pull-right {
	line-height: 40px;
}

.navbar .pull-right a {
	color: #FFFFFF;
	text-decoration: none;
}

#container {
	margin-top: 5em;
}

footer {
	margin-top: 2em;
	padding: 1em 0;
	border-top: 1px solid #dedede;
	color: #555555;
}
