#stack {
    margin-top: 45px;
    margin-left: 5px;
}
#dock_section .blank_foundation {
    margin-top: 45px;
}
#board_section .blank_tableau {
    margin-top: 45px;
    z-index: 0;
}


._css-loader {
    height: 3px;
}